
.gridPane {
    -fx-background-color: black;
}
ChoiceBox {
    -fx-color: rgb(30,30,30);
    -fx-background-insets: 0;
}
.choice-box .context-menu {
    -fx-background-color: rgb(30,30,30);
}
.Pane--Screen {
    -fx-background-color: rgb(60,60,60);
    -fx-border-color: silver;
    -fx-border-width: 5px;
}
.Pane--Screen > Text  {
    -fx-font-family: DS-Digital;
    -fx-font-size: 50px;
    -fx-fill: limegreen;
}

.numberButton {
    -fx-font-family: "Source Sans Pro Light";
    -fx-color: rgb(30,30,30);
}
.operateButton {
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-color: rgb(60,60,60);
}
.scientificButton {
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-color: #888888;
}

.numberButton:hover   {
    -fx-color:derive(rgb(30,30,30), 30%);
}
.operateButton:hover {
    -fx-color:derive(rgb(60,60,60), 30%);
}
.scientificButton:hover {
    -fx-color:derive(#888888, 30%);
}

.gridPane > Button {
    -fx-font-size:36px;
    -fx-font-smoothing-type: lcd;

    -fx-border-color: silver;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, black, 6, 0, 0, 0);

    -fx-background-insets:0; /* Remove background insets */
    -fx-padding: 0;
}
