.gridPane {
    -fx-background-color: #2c2c2c;
}
ChoiceBox {
    -fx-color: beige;
    -fx-background-color: beige;
    -fx-background-insets: 0;
}
.choice-box .context-menu {
    -fx-background-color: beige;
}
.Pane--Screen {
    -fx-background-color: black;
    -fx-border-color: rgb(60,60,60);
    -fx-border-width: 5px;
}
.Pane--Screen > Text  {
    -fx-font-family: DS-Digital;
    -fx-font-size: 50px;
    -fx-fill: limegreen;
}

.numberButton {
    -fx-font-family: "Source Sans Pro Light";
    -fx-color: beige;
}
.operateButton {
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-color: #d50000;
}
.scientificButton {
    -fx-font-family: "Source Sans Pro Semibold";
    -fx-color: #ae7b6d;
}

.numberButton:hover   {
    -fx-color:derive(beige, 30%);
}
.operateButton:hover {
    -fx-color:derive(#d50000, 30%);
}
.scientificButton:hover {
    -fx-color:derive(#ae7b6d, 30%);
}

.gridPane > Button {
    -fx-font-size:36px;
    -fx-font-smoothing-type: lcd;

    -fx-border-color: rgb(60,60,60);
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, black, 6, 0, 0, 0);

    -fx-background-insets:0; /* Remove background insets */
    -fx-padding: 0;
}
