
.gridPane {
    -fx-background-color: #bda5a5;
}
ChoiceBox {
    -fx-color: white;
    -fx-background-insets: 0;
}
.choice-box .context-menu {
    -fx-background-color: white;
}
.Pane--Screen {
    -fx-background-color: black;
    -fx-border-color: rgb(60,60,60);
    -fx-border-width: 5px;
}
.Pane--Screen > Text  {
    -fx-font-family: DS-Digital, System;
    -fx-font-size: 50px;
    -fx-fill: white;
}

.numberButton {
    -fx-font-family: "Source Sans Pro Light", System;
}
.operateButton {
    -fx-font-family: "Source Sans Pro Semibold", System;
    -fx-color: #36aeb8;
}
.scientificButton {
    -fx-font-family: "Source Sans Pro Semibold", System;
}

.numberButton:hover   {
    -fx-color: derive(white, -30%)
}
.operateButton:hover {
    -fx-color:derive(#36aeb8, 30%);
}
.scientificButton:hover {
    -fx-color: derive(white, -30%)
}

.gridPane > Button {
    -fx-font-size:36px;
    -fx-font-smoothing-type: lcd;

    -fx-border-color: rgb(60,60,60);
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, black, 6, 0, 0, 0);

    -fx-background-insets:0; /* Remove background insets */
    -fx-padding: 0;
}
